<ol>
    <li>@Html.ActionLink("Auditable Action Example","NormalExample")</li>
    <li>@Html.ActionLink("Auditable Object Posting Example","PostingExample")</li>

    <li>@Html.ActionLink("View the Audit Records","AuditRecords")</li>
</ol>